numpy
pandas
streamlit
streamlit-autorefresh
matplotlib
tqdm
beautifulsoup4
requests
dill
playwright
selenium>=4.0.0
scikit-learn
lightgbm
optuna
optuna-integration[lightgbm]
pyyaml
jupyterlab
ipywidgets
nest_asyncio
lxml
html5lib
pyarrow
chardet
